<h1>About The Site</h1>
<p>Enter the ticker symbol of the stock you wish to look up in the search bar.</p>
<p>This application is my first experience building with Node.js and Express-Handlebars. Financial data is pulled through IEX Cloud API. The site is hosted by Heroku.</p>
<p>Please feel free to share any feedback as it is still a work in progress.</p>